%dl.form
  =form_for commit, :url => { :action => method } do |f|
    =f.error_messages
    %dt= f.label :number
    %dd= f.text_field :number
    %dt= f.label :comment
    %dd= f.text_area :comment, :size => '39x10'
    %dt= f.label :project_id
    %dd= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }
    %dd.submit= f.submit :value => 'Save commit', :name => 'commitment'