=link_to 'Nouveau commit', new_commit_path, {:class => 'add'}

- if @commits.blank?
  Aucun commit
- else
  %table{:colspan => 0}
    %thead
      %th Number
      %th Commentaire
      %th Actions
    - @commits.each do |commit|
      %tr
        %td= commit.number
        %td= commit.comment
        %td
          = link_to 'Editer', edit_commit_path(commit), :class => 'action pencil'
          = link_to 'Supprimer', commit_path(commit), {:method => 'DELETE', :class => 'action cross'}
