%dl.form
  =form_for project, :url => { :action => method } do |f|
    =f.error_messages
    %dt= f.label :name
    %dd= f.text_field :name
    %dt= f.label :description
    %dd= f.text_area :description, :size => '39x10'
    %dt= f.label :url
    %dd= f.url_field :url
    %dt= f.label :gitpath
    %dd= f.text_field :gitpath
    %dt= f.label :path
    %dd= f.text_field :path
    %dt= f.label :color
    %dd= f.select :color, @config['colors']
    %dt= f.label :projecttype
    %dd= f.select :projecttype, {'PHP' => 1, 'RoR' => 2}
    %dd.submit= f.submit