.heading
  %h2
    %span.color{:style => "background-color:##{@project.color}"}
    = @project.name

  .actions
    = link_to 'Retour à la liste', projects_path, :class => (params[:action]=='index') ? 'list active' : 'list'
    = link_to 'Voir', project_path(@project), :class => (params[:action]=='show') ? 'view active' : 'view'
    = link_to 'Parcourir', browse_project_path(@project), :class => (params[:action]=='browse') ? 'browse active' : 'browse'
    = link_to 'Déploiement', deploy_project_path(@project), :class => (params[:action]=='deploy') ? 'deploy active' : 'deploy'
    = link_to 'Editer', edit_project_path(@project), :class => (params[:action]=='edit') ? 'edit active' : 'edit'
