=render :partial => 'heading'


-if @gtree[:subtrees].blank? && @gtree[:blobs].blank?
  Aucune arborescence trouvée

- else
  -breadcrumb = gcrumb(@project, @hb, @h)
  -unless breadcrumb.blank?
    -i = 0
    %ul.breadcrumb
      -breadcrumb.each do |folder, hash|
        %li{:class => (i == 0) ? 'first' : ''}
          =link_to({:action => 'browse', :h => hash.to_s}, {:style => "z-index:#{breadcrumb.count-i}"}) do
            %span
            = h(folder)
        -i = i+1

  .browse
    -unless @gtree[:blobs].blank?
      %ul
        -@gtree[:blobs].each do |fname, blob|
          %li=h fname

    -unless @gtree[:subtrees].blank?
      %ul
        -@gtree[:subtrees].each do |treename, blob|
          %li
            =link_to(h(treename), {:action => 'browse', :h => blob.to_s})
            ="/"