=link_to(new_project_path, {:class => 'add button'}) do
  %span Nouveau projet 

- if @projects.blank?
  %p Aucun projet
- else
  - @projects.each do |project|
    %fieldset.project
      %legend
        %span.color{:style => "background-color:##{project.color}"}
        = project.name
      .actions
        = link_to 'Voir', project_path(project), {:class => 'action eye'}
      %dl
        -project.logs.each do |l|
          %dt
            %strong= l.first.to_s.slice(0,8)+' :'
            %span.hash=l.first.author_date.strftime("%d/%m/%Y")
            = ' - '+l.first.author.name+' - '
          %dd=l.first.message