=render :partial => 'heading'

- if @remotes.count > 1
  %span Remote
  %ul
    - @remotes.each do |remote|
      %li=remote

- if @branches.count > 1
  %span Branches
  %ul
    - @branches.each do |remote|
      %li=remote

-@project.logs(50, {:commits => @project.commits}).each do |key, commits|
  -if key == 'none'
    %fieldset
      %table.projects.deploy
        %thead
          %th.commit Hash
          %th Date
          %th Auteur
          %th{:width => '60%'} Message
          %th.action Action
        -commits.each do |l|
          %tr
            %td
              %strong= l.to_s.slice(0,8)
            %td
              %span.date=l.author_date.strftime("%d/%m/%Y")
            %td.name= l.author.name
            %td.message=l.message
            %td
              .action
                =link_to 'Deploiement', '', {:class => 'action deploy overlay_button', :rel => "#commit_#{l.to_s.slice(0,8)}"}
              .deploy.overlay{:id => "commit_#{l.to_s.slice(0,8)}"}
                .ajax
                  =image_tag 'ajax-loader.gif'
                  %br
                  Deploiement en cours
                .form
                  =form_tag(:action => 'deploy') do
                    = hidden_field_tag :r, @remotes.first
                    = hidden_field_tag :h, l.to_s
                    = label_tag :comment, 'Commentaire'
                    %br
                    %br
                    = text_area_tag :comment, '', :size => '60x10'
                    %br
                    %br
                    = submit_tag 'Lancer le deploiement'

  - else
    %fieldset
      -if @commits.has_key? key
        %legend=h @commits[key].created_at.strftime("%d/%m/%Y") unless @commits[key].number.blank?
        =h @commits[key].comment unless @commits[key].comment.blank?
      %table.projects.deploy
        %thead
          %th.commit Hash
          %th Date
          %th Auteur
          %th{:width => '60%'} Message
        -commits.each do |l|
          %tr
            %td
              %strong= l.to_s.slice(0,8)
            %td
              %span.date=l.author_date.strftime("%d/%m/%Y")
            %td.name= l.author.name
            %td.message=l.message