=link_to(new_project_path, {:class => 'add button'}) do
  %span Nouveau projet 

- if @projects.blank?
  %p Aucun projet
- else
  %table.projects
    %thead
      %th.name Nom du projet
      %th.commit Dernier commit
      %th.action{:width => '30%'} Actions
    - @projects.each do |project|
      %tr
        %td.name
          %span.color{:style => "background-color:##{project.color}"}
          = project.name

        -project.logs(1).each do |l|
          %td.date
            %span.date=timeago(l.first.author_date)
        %td.action
          = link_to 'Voir', project_path(project), {:class => 'action eye'}
          = link_to 'Editer', edit_project_path(project), :class => 'action pencil'
          = link_to 'Supprimer', project_path(project), {:method => 'DELETE', :class => 'action cross', :confirm => 'Supprimer ce projet ?'}