=render :partial => 'heading'

-@project.logs(20, {:bydate => true}).each do |date, glogs|
  %fieldset
    %legend
      =date
    %dl
      -glogs.each_index do |l|
        -if l%2 == 0 
          %dt
            %strong= glogs[l].to_s.slice(0,8)
            =' - '+glogs[l].author.name+' - '
          %dd=glogs[l].message