// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$text-color: #858585;
$lightgreen: #cbded5;
$green:#6ac13c;
$darkgreen: #3E7324;
$grey: #D9D9D9;
$darkgrey: #484848;
$lightgrey: #FDFDFD;
$red: #b83138;
/* MIXINS*/
@mixin color($border: 2px solid $grey) {
  span.color {
    float: left;
    margin-right: 5px;
    display:block;
    width: 20px;
    height: 20px;
    border: $border;
    text-indent: -9000px;
    border-radius: 7px;
  }
}

html {
  font-family: georgia, helvetica;
  color: $text-color;
  border: 5px $lightgreen solid;
  margin: 5px;
  text: {
    shadow: 1px 1px 0 #FFF;
  }
}
body{
  background: url('cross_scratches.png');
}

h1 {
  text-transform: uppercase;
  color:$green;
  padding: 10px;
  font:{size: 2em;}
  &.title {
    float:left
  }
  span {
    font-size:0.8em;
  }
}
h2 {
  text-transform: uppercase;
  font: {
    weight: normal;
    size: 1.2em;
  }
  @include color;
}

.content {
  float:left;
  width:100%;
}

ul{
  &.nav {
    float:right;
  }
  &.breadcrumb {
    display: block;
    list-style: none;
    li {
      display: inline;
      &.first {
        padding-left: 8px;
        a {
          span {
            height: 29px;
            width: 3px;
            border-left: 1px solid #d9d9d9;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
      a,
      a:link,
      a:visited {
        display: block;
        float: left;
        font-size: 12px;
        margin-left: -13px;
        padding: 7px 17px 11px 25px;
        position: relative;
        text-decoration: none;
      }
    }
  }
}

a {
  color: $green;
  &.add {
    padding: 10px 40px;
  }
  &.button {
    display:inline;
    width:auto;
    padding: 8px 0;
    span {
      margin-left:3px;
      padding: 6px 40px;
      padding-right: 20px
    }
  }
  &.action {
    padding-left: 20px;
    margin-right: 20px;
  }
}

/* FORM */

input,
textarea {
  margin:0;
  border: $grey 1px solid;
  border-radius: 20px;
  color: $text-color;
  padding: 5px 10px;
  font: {
    family: georgia, helvetica;
    size: 1.2em;
  }
}
textarea {
  border-radius: 10px;
}

dl {
  width: 100%;
  float: left;
  dt {
    padding:0;
    margin:0;
    float: left;
    clear: both;
  }
  dd {
    float: left;
    padding: 0 5px;
    margin:0;
    .field_with_errors {}
  }
  &.form {
    dt {
      width:150px;
      text-align:right;
    }
    dd{
      margin: 0 0 10px 0;
      &.submit{
        margin-left: 150px;
        clear:both;
      }
    }
  }
}

fieldset{
  &.project {
    legend {
      padding: 0 5px 0 0;
      @include color;
    }
    margin:20px 0;
    .action {
      float:right;
    }
    dl {
      width: 100%;
      float: left;
      dt {
        float: left;
        clear: both;
      }
      dd {
        float: left;
        padding: 0 5px;
      }
    }
  }
}
table{
  border: {
    collapse: collapse;
  }
  thead{
    th {
      font-weight: normal;
      color: $lightgreen;
    }
  }
  &.projects {
    margin:30px 0;
    width: 100%;
    thead {
      th {
        &.name,
        &.commit,
        &.action {
          text-align: left;
        }
      }
    }
    tr {
      td {
        @include color;
        color: $darkgrey;
        border: {
          top: 1px solid $lightgrey;
          bottom: 2px solid $grey;
        }
        &.name,
        &.action,
        &.date {
          text-align:left;
        }
      }
    }
  }
  &.deploy {
    margin:15px 0;
    thead {
      th {
        text-align: left;
      }
    }
    tr {
      td {
        &.name,
        &.message {
          font-size: 0.8em;
        }
      }
    }
  }
}

.heading {
  float: left;
  width: 100%;
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  @include color(none);
  h2 {
    float: left;
    color: $lightgrey;
    margin-left: 10px;
  }
  .actions {
    height: inherit;
    float: right;
    a {
      float: left;
      display: block;
      width: 64px;
      height: 64px;
      text-indent: -9000px;
    }
  }
}
.browse {
  width: 100%;
  float: left;
}

.ajax{
  
  text-align:center;
}

.overlay {
  /* overlay is hidden before loading */
  display:none;

  /* standard decorations */
  width:575px;

  /* for modern browsers use semi-transparent color on the border. nice! */
  border:10px solid $lightgreen;

  /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  padding:10px;
  a.close {
    background: url('circle-cross.png');
    width:32px;
    height:32px;
    position: absolute;
    display:block;
    top:5px;
    right:5px;
    cursor: pointer;
  }
}
.flash {
  display:none;
  width:575px;
  padding:10px;
}