// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***** RED *****/
$lightred: #e98d91;
$red: #b83138;

/***** GREY *****/
$lightgrey: #FDFDFD;
$darkgrey: #484848;
$grey: #AAA;
$deco-grey: #D9D9D9;
$lightblue : #bfe1fc;
/***** GREEN *****/
$lightgreen: #cbded5;
$green:#6ac13c;
$darkgreen: #3E7324;

$text-color: #858585;

/*MIXINS*/
@mixin logos($type) {
  &.#{$type} {
    background: url('#{$type}.png') no-repeat;
  }
}

@mixin button($color: #407424, $text-shadow: #8CCE6D, $border: none, $gradient-top: rgb(130,210,68), $gradient-bottom: rgb(84,176,53)) {
  color: $color;
  border:$border;
  text-shadow: 1px 1px 0 $text-shadow;

  background-image: linear-gradient(bottom, $gradient-bottom 23%, $gradient-top 62%);
  background-image: -o-linear-gradient(bottom, $gradient-bottom 23%, $gradient-top 62%);
  background-image: -moz-linear-gradient(bottom, $gradient-bottom 23%, $gradient-top 62%);
  background-image: -webkit-linear-gradient(bottom, $gradient-bottom 23%, $gradient-top 62%);
  background-image: -ms-linear-gradient(bottom, $gradient-bottom 23%, $gradient-top 62%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.23, $gradient-bottom),
    color-stop(0.62, $gradient-top)
  );
}

@mixin headingbuttons ($type, $image_name) {
  &.#{$type} {
    background: url('#{$image_name}.png') no-repeat center;
    &.active,
    &:hover {
      background: url('#{$image_name}_active.png') no-repeat center;
    }
  }
}

/*Fin MIXINS*/
.flash,
.overlay {
  background: url('cross_scratches.png');
  border-radius: 20px;
}

.flash {
  line-height: 30px;
  text-shadow: none;
  span.icon {
    float:left;
    margin: 0 10px 0 0;
    display:block;
    width:32px;
    height:32px;
  }
  &.success {
    background: $lightgreen;
    color: #549A31;
    span.icon {
      background: url('success.png');
    }
  }
  &.error {
    background: $lightred;
    span.icon {
      background: url('circle-cross_error.png');
    }
  }
  &.notice {
    background: $lightblue;
    span.icon {
      background: url('info.png');
    }
  }
}

.error,
.errorExplanation {
  background: $lightred;
  color: $red;
  text-shadow:none;
  border-radius:5px;
  padding:10px;
  margin-bottom:20px;
  border: 1px #dea4a6 solid;
  h2 {
    margin-top:0;
  }
}

.field_with_errors input,
.field_with_errors textarea {
  border: $lightred 1px solid;
}

.heading {
  background: url('carbon_fibre.png');
  text-shadow:2px 2px #000;
  overflow:hidden;
  border:{
    top: $grey 1px solid;
    bottom: #FDFDFD 2px solid;
    radius: 10px;
  }
  -moz-box-shadow: inset 0px 5px 5px 0px #000;
  -webkit-box-shadow: inset 0px 5px 5px 0px #000;
  -o-box-shadow: inset 0px 5px 5px 0px #000;
  box-shadow: inset 0px 5px 5px 0px #000;
  .actions {
    -moz-box-shadow: inset 0px 5px 5px 0px #000;
    -webkit-box-shadow: inset 0px 5px 5px 0px #000;
    -o-box-shadow: inset 0px 5px 5px 0px #000;
    box-shadow: inset 0px 5px 5px 0px #000;
    background: url('linen.png');
    border-left: #000 1px solid;
    a {
      text-shadow: none;
      margin: 0 10px;
      @include headingbuttons(list, heading-list);
      @include headingbuttons(view, heading-eye);
      @include headingbuttons(browse, folder);
      @include headingbuttons(deploy, heading-put-in-cloud);
      @include headingbuttons(edit, heading_pencil);
    }
  }
}

button,
input[type=submit] {
  @include button;
}

input[type=submit]{
  margin: 10px 5px;
}

.grey {color:$grey}
.date {
  color: $red;
  font-style: italic;
  font-size: 0.9em;
}

/* LINKS */
a {
  &.action {
    color: $grey;
    text: {
      shadow: 1px 1px 0 #FFF;
      transform: uppercase;
      decoration: none;
    }
    &:hover {
      color: $red;
      text-decoration: underline;
    }
  }
  @include logos(pencil);
  @include logos(add);
  @include logos(cross);
  @include logos(eye);
  @include logos(deploy);
  &.add {
    span {
      background: url('add.png') no-repeat;
    }
  }
  &.button{
    @include button($darkgreen, #FDFDFD, $grey 1px solid , #FDFDFD, #DADADA);
    border-radius: 20px;
  }
}


table {
  thead {
    th {
      color: #AAAAAA;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }
}

dl {
  font-size: 0.8em;
  line-height: 2em;
  dt {
    color: $red;
    font-style: italic;
    label,
    strong {
      font-size: 1.333em;
      color: $darkgrey;
      font-style: normal;
    }
  }
  dd {line-height: 2em;}
}

fieldset{
  border:none;
  border-top: 2px solid $deco-grey;
  &.project {
    legend {
      color: $darkgrey;
      text-transform: uppercase;
    }
    dl {
      dt {
        span.date {
          color: $darkgrey;
          font-size: 1.2em;
        }
      }
      dd {}
    }
  }
}

ul{
  &.breadcrumb {
    li {
      &.first {
        a {
          color: $darkgreen !important;
        }
      }
      a {
        color: $grey;
        background-image: url('bg-crumbs.png');
        background-repeat: no-repeat;
        background-position: 100% 0;
        position: relative;
        &:hover {
          color: $darkgrey;
          background-position: 100% -48px;
          cursor: pointer;
        }
        &:active {
          color: $darkgrey;
          background-position: 100% -96px;
        }
      }
    }
  }
}