%html
  %head
    %title Lumawak
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %h1{:class => 'title'}><
      Lumawak
      %span.grey= params[:controller]
    %head
      %ul{:class => 'nav'}
        -@menu.each do |m|
          -if m === 'dashboard'
            %li= link_to_unless_current m.humanize, root_path
          -else
            %li= link_to_if((params[:controller] != m || params[:action] == 'dashboard'), m.humanize, {:controller => m})
    .content
      -if flash[:notice]
        .flash.notice
          %span.icon
          = flash[:notice]
      -if flash[:success]
        .flash.success
          %span.icon
          = flash[:success]
      -if flash[:error]
        .flash.error
          %span.icon
          = flash[:error]
      = yield
